@import '../../../styles/breakpoints';

.header {
  --size-logo-header: 30px;
  &__logo {
    height: var(--size-logo-header);
    width: var(--size-logo-header);
    @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
      --size-logo-header: 46px;
    }
  }
  &__icon-search {
    display: var(--icon-search-visibility-header, block);
    @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
      --icon-search-visibility-header: none;
    }
  }
  &__input-search {
    display: var(--input-search-visibility-header, none);
    @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
      --input-search-visibility-header: block;
      min-width: 450px;
    }
  }
}
