@import '../../../styles/breakpoints';

.header {
  --size-logo-header: 30px;
  &__logo {
    height: var(--size-logo-header);
    width: var(--size-logo-header);
    @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
      --size-logo-header: 46px;
    }
  }
  &__choice-chip-group {
    width: var(--width-choice-chip-group-header, 100vw);
    overflow-x: var(--overflow-x-choice-chip-group--header, scroll);
    @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
      --width-choice-chip-group-header: 'auto';
      --overflow-x-choice-chip-group--header: 'auto';
    }
  }
}
