.container-content {
  margin: var(--margin-container-main, 0 auto);
  width: var(--width-container-main, auto);
  padding-top: var(--padding-top-container-main, var(--spacing-l));
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
    --width-container-main: 864px;
    --padding-top-container-main: var(--spacing-xl);
  }
}

@each $modifier , $breakpoint in $breakpointPropList {
  @include createMediaQueries($breakpoint, 'min') {
    @each $prefixClassName, $propertyCss in $spacingPropList {
      @each $name, $size in $spacingList {
        @include spacing($prefixClassName, $name, $propertyCss, $size, $modifier);
      }
    }
  }
}
