$textAlignList: ('left', 'center', 'right', 'justify');
$textTransformList: ('capitalize', 'uppercase', 'lowercase');
$textDecorationList: ('underline', 'dotted', 'wavy', 'overline');

$fontWeightPropList: (
  'regular': 'normal',
  'medium': 500,
  'bold': 'bold'
);

@mixin fontSize($sizeName, $size, $modifier) {
  .size-#{$sizeName}\@#{$modifier} {
    font-size: $size;
    line-height: 1.2em;
  }
}

@mixin textAlign($name, $modifier) {
  .text-#{$name}\@#{$modifier} {
    text-align: #{$name};
  }
}

@mixin fontWeight($prefixClassName, $propertyCss, $modifier) {
  .font-weight-#{$prefixClassName}\@#{$modifier} {
    font-weight: #{$propertyCss};
  }
}

@mixin textTransform($name, $modifier) {
  .text-transform-#{$name}\@#{$modifier} {
    text-transform: #{$name};
  }
}

@mixin textDecoration($name, $modifier) {
  .text-decoration-#{$name}\@#{$modifier} {
    text-decoration: if($name == underline, #{$name}, underline #{$name});
  }
}

@each $modifier , $breakpoint in $breakpointPropList {
  @include createMediaQueries($breakpoint, 'min') {
    @each $sizeName, $size in $typographyFontSizeList {
      @include fontSize($sizeName, $size, $modifier);
    }
    @each $textAlign in $textAlignList {
      @include textAlign($textAlign, $modifier);
    }
    @each $prefixClassName, $propertyCss in $fontWeightPropList {
      @include fontWeight($prefixClassName, $propertyCss, $modifier);
    }
    @each $textTransform in $textTransformList {
      @include textTransform($textTransform, $modifier);
    }
    @each $textDecoration in $textDecorationList {
      @include textDecoration($textDecoration, $modifier);
    }
    .text-italic\@#{$modifier} {
      font-style: italic;
    }
  }
}
