.divider {
  width: 100%;
  border: none;
  &--primary {
    height: 0.5px;
    background-color: var(--color-grey-light);
  }
  &--secondary {
    height: 2px;
    background-color: var(--color-primary-light);
  }
}
