.divider {
  width: 100%;
  border: none;
  height: var(--height-divider, 0.5px);
  background-color: var(--background-color-divider, var(--color-grey-light));
  &--primary {
    --height-divider: 0.5px;
    --background-color-divider: var(--color-grey-light);
  }
  &--secondary {
    --height-divider: 2px;
    --background-color-divider: var(--color-primary-light);
  }
  &--neutral {
    --height-divider: 1px;
    --background-color-divider: var(--color-white);
  }
  &--search {
    height: 16px;
    width: 80px;
    --background-color-divider: var(--color-yellow);
  }
}
