@import '../../../styles/breakpoints';

.post-preview {
  --max-height-post-preview-mask: 44px;
  &__metadata {
    span {
      &:not(:first-child) {
        &::before {
          margin-left: var(--spacing-xxs);
          margin-right: var(--spacing-xxs);
          content: '•';
          font-size: 12px;
        }
      }
    }
  }
  &--mask {
    max-height: var(--max-height-post-preview-mask);
    @include createMediaQueries(map_get($breakpointPropList, 'md'), 'min') {
      --max-height-post-preview-mask: 24px;
    }
    mask-image: linear-gradient(#000, transparent);
  }
}
